.requestsList li,
.friendsList li {
    height: 50px;
    margin-top: 10px;
    border-bottom: solid 1px #aaa;
    padding: 10px;
}
.requestsList li:last-child,
.friendsList li:last-child {
    border-bottom: none;
}

.approve,
.disapprove,
.friendRequest {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    width: 100px;
}
.textBtn {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 2px;
    padding-bottom: 12px;
    font-size: 20px;
}
.requestsList,
.friendsList {
    margin-top: 50px;
}
